body {
  background-color: #E3F4F4;
}

h1 {
  color: #4080cf;
}

h3 {
  color: #5a8dcc;
}

img:hover{
  opacity: 80%;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}

.bio_ignore:hover {
  font-weight: normal;
  text-decoration: none;
}

.bio:hover {
  font-weight: normal;
  text-decoration: underline;
}

h3:hover {
  color: #04346d;
}

li:hover {
  font-weight: bold;
}

td:hover {
  font-weight: bold;
}

hr {
  border-color: lightgray;
  border-style: dotted none none;
  border-width: 5px;
  width: 5%;
}